html {
    box-sizing: border-box;
    font-size: 10px;
    background: linear-gradient(to right,#00AAFF,#00FF66);
  }

  #title {
      font-size: large;
      font-weight: bold;
      
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
  }

  #title {
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(243, 16, 175, 0.75);
    
}
  
  .displayTimeLeft {
    font-weight: 100;
    font-size: 20rem;
    margin: 0;
    color: rgb(255, 255, 255);
   
  }
  
  .timer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .timerControls {
    display: flex;
  }
  
  .timerControls > * {
    flex: 1;
  }
  
  .timerControls form {
    flex: 1;
    display: flex;
    
  }
  
  .timerControls input {
    flex: 1;
    border: 0;
    padding: 2rem;
  }
  
  
  .display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .displayEndTime {
    font-size: 4rem;
    color: white;
  }
  